<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdut.mapper.CarMapper" >
  <resultMap id="BaseResultMap" type="com.sdut.pojo.Car" >
    <result column="car_id" property="carId" jdbcType="INTEGER" />
    <result column="car_user_id" property="carUserId" jdbcType="INTEGER" />
    <result column="car_name" property="carName" jdbcType="VARCHAR" />
    <result column="car_sum_price" property="carSumPrice" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    car_id, car_user_id, car_name, car_sum_price
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sdut.pojo.CarExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sdut.pojo.CarExample" >
    delete from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sdut.pojo.Car" >
    insert into car (car_id, car_user_id, car_name, 
      car_sum_price)
    values (#{carId,jdbcType=INTEGER}, #{carUserId,jdbcType=INTEGER}, #{carName,jdbcType=VARCHAR}, 
      #{carSumPrice,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.sdut.pojo.Car" >
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carId != null" >
        car_id,
      </if>
      <if test="carUserId != null" >
        car_user_id,
      </if>
      <if test="carName != null" >
        car_name,
      </if>
      <if test="carSumPrice != null" >
        car_sum_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carId != null" >
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="carUserId != null" >
        #{carUserId,jdbcType=INTEGER},
      </if>
      <if test="carName != null" >
        #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carSumPrice != null" >
        #{carSumPrice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sdut.pojo.CarExample" resultType="java.lang.Integer" >
    select count(*) from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update car
    <set >
      <if test="record.carId != null" >
        car_id = #{record.carId,jdbcType=INTEGER},
      </if>
      <if test="record.carUserId != null" >
        car_user_id = #{record.carUserId,jdbcType=INTEGER},
      </if>
      <if test="record.carName != null" >
        car_name = #{record.carName,jdbcType=VARCHAR},
      </if>
      <if test="record.carSumPrice != null" >
        car_sum_price = #{record.carSumPrice,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update car
    set car_id = #{record.carId,jdbcType=INTEGER},
      car_user_id = #{record.carUserId,jdbcType=INTEGER},
      car_name = #{record.carName,jdbcType=VARCHAR},
      car_sum_price = #{record.carSumPrice,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>